body {
	font-size: 1.2em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*@media screen {
	body{
		background: #005ea5;
		color: #000;
	}
	.column {
		border-top: 1px solid #000;
	}

}

@media print {
	body{
		background: #ff0;
		color: #000;
	}

	.column {
		border-top: 1px solid #000;
	}

  .risk, .milestone{
    border-left: 3px solid #000;
  }
}
*/

body{
  color: #000;
}

.column {
  border-top: 1px solid #000;
}

.risk, .milestone{
  padding: .5rem;
  background: #DEE0E2;
}

.milestone {
  border-left: 3px solid #2B8CC4;
}


.risk{
  border-left: 3px solid #DF3034;
}

.wide{
  white-space: nowrap;
}

#view {
  width: 90%;
  margin: 0 auto;
}

.column, .column_header {
  padding-top: 1rem;
  margin-right: 2.2rem;
}

/* Make lists wrap below the shortest adjacent list (rather than stating a new row)*/
/* disable the "display: webkit-flex" property set by pure */
/* NOTE! may not work in all browsers... need to test. I'm using Chrome */
.pure-g {
  display: block;
}

.pure-g [class *="pure-u"] {
    float: left;
    display: block;
}

.card {
	display: block;
	font-size: 1rem;
  line-height: 1.4rem;
	margin-bottom: 1.2rem;
}


a:visited {
}

a{
  text-decoration: none
}

a:hover{
  text-decoration: underline;
}

h1, h2 {
  margin-bottom: .3rem;
}
